.theme-light body {
  --color-mask-default: linear-gradient(
    rgb(253, 251, 245),
    rgba(253, 251, 245, 0)
  ) !important;

  --lime-green: hsl(120deg 73.44% 74.9%) !important;
  --dark-green: green !important;
  --grey: rgba(119, 119, 119, 1) !important;
  --white: rgba(252, 251, 251, 1) !important;
  --border-color: rgba(25, 26, 25, 1) !important;
  --hover-bg: rgba(25, 26, 25, 1) !important;
  --hover-color: rgba(252, 251, 251, 1) !important;
  --text: rgba(25, 26, 25, 1) !important;
  --toggle-summary: #37352F !important;
  --color-bg-gray: hsl(var(--gray-h), var(--gray-s), 90%) !important;
  --color-bg-green: hsl(var(--green-h), var(--green-s), 90%) !important;
  --color-bg-orange: hsl(var(--orange-h), var(--orange-s), 90%) !important;
}

.theme-dark body {
  --color-mask-default: linear-gradient(
    rgb(253, 251, 245),
    rgba(253, 251, 245, 0)
  ) !important;

  --lime-green: hsl(146, 32%, 47%) !important;
  --dark-green: hsl(146, 32%, 15%) !important;
  --grey: rgba(119, 119, 119, 1) !important;
  --white: rgba(252, 251, 251, 1) !important;
  --text: rgba(252, 251, 251, 1) !important;
  --hover-bg: rgba(252, 251, 251, 1) !important;
  --hover-color: rgba(25, 26, 25, 1) !important;
  --border-color: rgba(119, 119, 119, 1) !important;
  --toggle-summary: lightgrey !important;
  --color-bg-gray: hsl(108.91deg 5.64% 90.94%) !important;
  --color-bg-green: hsl(146deg 44.83% 78.11%) !important;
  --color-bg-orange: rgb(254, 206, 198) !important;
}
