h1,
h2,
h3,
.notion-text,
.notion-text__content,
.notion-semantic-string,
.notion-column-list {
  padding-left: 2vw !important;
  padding-right: 1.5vw !important;
}

h1 {
  font-size: 2.8vw !important;
  line-height: 2.85vw !important;
}

h2 {
  margin-bottom: 0.5vw;
  font-size: 2.25vw;
  line-height: 2.2525vw;
  transition: line-height 0.4s, font-size 0.4s;
}
h3 {
  letter-spacing: -0.3vw !important;
  font-size: 1.88vw !important;
  line-height: 1.88vw !important;
}

.notion-text {
  color: rgba(119, 119, 119, 0.9) !important;
  margin-top: 0.5rem !important;
  max-width: 60rem !important;
  font-size: 1.2vw !important;
  font-weight: 400 !important;
  line-height: 2.3vw !important;
}
