:root {
  --h1-mob: 9vw !important;
  --h2-mob: 8.5vw !important;
  --h3-mob: 8.2 !important;
  --text-mob-l: 4.5vw !important;
  --text-mob-m: 3vw !important;
  --heading-1: 2.8vw !important;
  --heading-2: 2.25vw !important;
  --heading-3: 1.88vw !important;
  --text-l: 1.5vw !important;
  --text-m: 1.2vw !important;
  --text-s: 1vw !important;
}

h1,
h2,
h3,
.notion-text,
.notion-text__content,
.notion-semantic-string,
.notion-column-list {
  padding-left: 2vw !important;
  padding-right: 1.5vw !important;
}

h1 {
  font-size: var(--heading-1) !important;
  line-height: 2.85vw !important;
}

h2 {
  margin-bottom: 0.5vw !important;
  font-size: var(--heading-2) !important;
  line-height: 2.2525vw !important;
  transition: line-height 0.4s, font-size 0.4s !important;
}
h3 {
  font-size: var(--heading-3) !important;
  line-height: 1.88vw !important;
}

.notion-text {
  color: var(--grey) !important;
  margin-top: 0.5rem !important;
  max-width: 60rem !important;
  font-size: var(--text-m) !important;
  font-weight: 400 !important;
  line-height: 1.6vw !important;
}
