.theme-light body {
  --color-mask-default: linear-gradient(
    rgb(253, 251, 245),
    rgba(253, 251, 245, 0)
  ) !important;
  --lime-green: hsl(120deg 73.44% 74.9%) !important;
  --dark-green: green !important;
  --grey: rgba(119, 119, 119, 0.9) !important;
  --white: rgba(252, 251, 251, 0.9) !important;
  --black: black !important;
}

:root {
  --h1-mob: 9vw !important;
  --h2-mob: 8.5vw !important;
  --h3-mob: 8.2 !important;
  --text-mob-l: 4.5vw !important;
  --text-mob-m: 3vw !important;
  --heading-1: 2.8vw !important;
  --heading-2: 2.25vw !important;
  --heading-3: 1.88vw !important;
  --text-l: 1.5vw !important;
  --text-m: 1.2vw !important;
  --text-s: 1vw !important;
}

h1,
h2,
h3,
.notion-text,
.notion-text__content,
.notion-semantic-string,
.notion-column-list {
  padding-left: 2vw !important;
  padding-right: 1.5vw !important;
}

h1 {
  font-size: var(--heading-1) !important;
  line-height: 2.85vw !important;
}

h2 {
  margin-bottom: 0.5vw !important;
  font-size: var(--heading-2) !important;
  line-height: 2.2525vw !important;
  transition: line-height 0.4s, font-size 0.4s !important;
}

h3 {
  font-size: var(--heading-3) !important;
  line-height: 1.88vw !important;
}

.notion-text {
  color: var(--grey) !important;
  margin-top: 0.5rem !important;
  max-width: 60rem !important;
  font-size: var(--text-m) !important;
  font-weight: 400 !important;
  line-height: 1.6vw !important;
}

.super-content {
  background: var(--white) !important;
}

.notion-root {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 30vh !important;
}

.notion-root.max-width {
  max-width: 1200px !important;
  margin: 0 auto !important;
  overflow: visible !important;
  top: 80vh !important;
}

#page-index .notion-root.max-width {
  top: 0 !important;
}

#page-index .notion-header {
  display: none !important;
}

.notion-header {
  mask-image: linear-gradient(rgba(253, 251, 245, 0), rgb(253, 251, 245)) !important;
  flex-direction: column !important;
  align-items: center !important;
  height: auto !important;
  min-height: 60rem !important;
  max-height: 60vh !important;
  display: flex !important;
  position: fixed !important;
}

.notion-header__cover.has-cover {
  position: static !important;
  height: auto !important;
  width: 100% !important;
}

.notion-header__title-wrapper {
  display: none !important;
}

.notion-header__content.max-width {
  top: 0 !important;
  max-width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

p.notion-text__content strong a {
  color: var(--white) !important;
  background: var(--lime-green) !important;
  padding: 0.8rem 1.6rem !important;
  border: none !important;
  text-transform: capitalize !important;
  letter-spacing: 0.05rem !important;
  border-radius: 50px !important;
  opacity: 1 !important;
  font-weight: 500 !important;
  display: inline-flex !important;
  justify-content: center !important;
  text-decoration: none !important;
  transition: background 0.2s ease-in-out !important;
  -webkit-transition: background 0.2s ease-in-out !important;
}

p.notion-text__content strong a:hover {
  background: var(--dark-green) !important;
  transition: 0.2s ease-in-out !important;
}

p.notion-text__content a {
  color: var(--black) !important;
  background: transparent;
  padding: 0.8rem 1.6rem !important;
  text-transform: capitalize !important;
  letter-spacing: 0.05rem !important;
  border-radius: 50px !important;
  border: 1px solid var(--grey) !important;
  opacity: 1 !important;
  font-weight: 500 !important;
  display: inline-flex !important;
  justify-content: center !important;
  text-decoration: none !important;
  transition: background 0.2s ease-in-out !important;
  -webkit-transition: background 0.2s ease-in-out !important;
}

.notion-collection-gallery.medium {
  width: fit-content !important;
  scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) !important;
  grid-template-columns: 33vw !important;
  grid-auto-columns: 33vw !important;
  grid-auto-flow: column !important;
  overflow-x: auto !important;
  grid-gap: clamp(0.5rem, 2vw, 1.1rem) !important;
  padding-left: clamp(0.5rem, 2vw, 2rem) !important;
  padding-top: clamp(0.5rem, 3vw, 3rem) !important;
  border-top: none !important;
}

.notion-collection-gallery.medium .notion-collection-card {
  max-width: 100% !important;
  aspect-ratio: 1/1.4 !important;
}

.notion-collection-card__cover {
  height: 100% !important;
  position: relative !important;
}

.notion-collection-gallery.medium .notion-collection-card__content {
  position: absolute !important;
  bottom: 0 !important;
  background: linear-gradient(to top, #000 0, rgba(0, 0, 0, 0) 100%);
  width: 100% !important;
  color: var(--white) !important;
  padding: 2rem !important;
}

.notion-collection-card {
  background: none !important;
}

.notion-collection-card .notion-property__title {
  overflow: visible !important;
  font-size: var(--text-l) !important;
  line-height: 1.8 !important;
}

.notion-collection-card__content .notion-property__text {
  text-wrap: wrap !important;
  min-height: 24px !important;
  word-spacing: 0.15px !important;
  font-size: var(--text-s) !important;
  line-height: 1.3 !important;
}

.notion-collection-card .notion-property__title .notion-property__title__icon-wrapper {
  display: none !important;
}

.notion-collection-gallery.small {
  margin: auto !important;
  border-top: none !important;
  align-items: center !important;
  display: flex !important;
  flex-wrap: wrap !important;
  margin-top: 1rem !important;
}

.notion-collection-gallery.small .notion-collection-card {
  width: auto !important;
  pointer-events: none !important;
  box-shadow: none !important;
}

.notion-property.notion-property__select {
  border: 1px solid var(--grey) !important;
  border-radius: 100vw !important;
  padding: 0.5em 0.9em !important;
  font-size: var(--text-m) !important;
}

.notion-pill {
  background: none !important;
  padding: 0 !important;
}

@media screen and (max-width: 550px) {
  .notion-collection-gallery.medium {
    grid-template-columns: 65vw !important;
    grid-auto-columns: 65vw !important;
  }
  .notion-collection-gallery.medium .notion-collection-card {
    aspect-ratio: 1/1.4 !important;
  }
  h1 {
    font-size: var(--h1-mob) !important;
    line-height: 10vw !important;
  }
  h2 {
    margin-bottom: 0.5vw !important;
    font-size: var(--h2-mob) !important;
    line-height: 9.5vw !important;
    transition: line-height 0.4s, font-size 0.4s !important;
  }
  h3 {
    font-size: var(--h3-mob) !important;
    line-height: 9vw !important;
  }
  .notion-text {
    font-size: var(--text-mob-l) !important;
    line-height: 5.5vw !important;
  }
  .notion-collection-gallery.medium .notion-collection-card__content {
    padding-bottom: 5vw !important;
  }
  .notion-collection-card .notion-property__title {
    font-size: var(--text-mob-l) !important;
    line-height: 5.5vw !important;
  }
  .notion-collection-card__content .notion-property__text {
    font-size: var(--text-mob-m) !important;
  }
}
@media screen and (max-width: 768px) {
  .notion-collection-gallery.medium {
    grid-template-columns: 77vw !important;
    grid-auto-columns: 77vw !important;
  }
}
